MYSQL_DATABASE=your_db_name
MYSQL_ROOT_PASSWORD=user-password
MYSQL_USER=root
MYSQL_PASSWORD=mysql-password

SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_CUSTOM=

REACT_APP_GRAPHQL_ENDPOINT=http://localhost:8080/graphql

WP_ENV=development
WP_SERVER_URL=http://localhost:3000